@font-face {
    font-family: 'Bombard';
    src: local('Bombard'), url("./fonts/BOMBARD_.ttf") format('truetype');
}
/* Ripped from Home.css */
.content{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items:center;
    top: 0%;
    left: 0%;
    width:100%;
    min-height: 100%;
}

/* Cool top bar for the page */
.top{
    display:flex;
    width: 100%;
    height: 8%;
}
.topBar{
    display: flex;
    width: 100%;
    height: 100%;
}

/* Main text area before the actual clickable content */
.text{
    display:flex;
    flex-flow: column wrap;
    align-items:center;
    width: 100%;
    height: 30%;
}

.headingText{
    display: flex;
    padding-top:1%;
    padding-bottom: 1%;
    fill: black;
    font-family: 'Bombard';
    font-size: 400%;
}
.subHeadingText{
    display: flex;
    top: 0%;
    fill: rgb(80, 80, 80);
    font-family: 'Bombard';
    font-size: 200%;
}

/* Item time */
.items{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items: start;
    gap: 10px 10px;
    width: 90%;
    min-height:52%;
}
.itemBox1{
    margin:0% 0.5%;
    background-color: black;
    width:400px;
    height:400px;
}
.itemBox2{
    margin: -5% 0.5%;
    background-color: black;
    width:400px;
    height:400px;
}