@font-face {
    font-family: 'Bombard';
    src: local('Bombard'), url("./fonts/BOMBARD_.ttf") format('truetype');
}
/* Ripped from Home.css */
.content{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items:center;
    top: 0%;
    left: 0%;
    width:100%;
    min-height: 100%;

    overflow: auto; /* literally only here to let the page be scrollable */
}

/* Cool top bar for the page */
.top{
    display:flex;
    width: 100%;
    height: 8%;
}
.topBar{
    display: flex;
    width: 100%;
    height: 100%;
}

/* Main text area before the actual clickable content */
.text{
    display:flex;
    flex-flow: column wrap;
    align-items:center;
    width: 100%;
    margin-bottom: 5%;
}

.headingText{
    display: flex;
    padding-top:1%;
    padding-bottom: 1%;
    fill: black;
    font-family: 'Bombard';
    font-size: 400%;
}
.subHeadingText{
    display: flex;
    top: 0%;
    fill: rgb(80, 80, 80);
    font-family: 'Bombard';
    font-size: 200%;
}

/* Item time */
.items{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    width: 90%;
    min-height:52%;
    margin-bottom:3%; /* leave a little room for santa */
}
.itemColumn{
    display :flex;
    justify-content:start;
    align-items:center;
    flex-flow: column nowrap;
    gap: 10px 10px;
}
.itemColumnMid{
    display :flex;
    justify-content:start;
    align-items:center;
    margin-top: -3%;
    flex-flow: column nowrap;
    gap: 10px 10px;
}
.itemBox1{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:column nowrap;
    margin:1% 0.5%;
    background-color: black;
    width:25vw;
    min-height:10vw;

    cursor:pointer;
    transition: scale 0.2s;
    filter:drop-shadow(3px 3px 8px grey);
}

img{width:100%;}
.itemBox1:hover{
    scale: 1.05;
    filter:drop-shadow(3.15px 3.15px 8.4px grey);
}
.itemBox1:hover .itemDescription{
    display:block;
}
.itemDescription{
    /* have ts show on hover */
    display:none;
    flex-wrap:wrap;
    background-color: #0BE3BF;
    width:98%;
    padding: 1%;
    align-self:flex-end;
}