.content{
    width:100%;
    height: 100%
}

.leftHome {
    position:fixed;
    top: 0%;
    left: 0%;
}

.rightHome {
    position:fixed;
    top: 0%;
    right: 100%;
}

.home-sides{
    width: 45%;
    height: 85%;
}

.bottomHome{
    position: fixed;
    bottom: 100%;
    width: 86.5972%;
    right: 50%;
    transform: translate();
}